/* Base16 Atelier Forest Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/forest) */ 
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */
/* https://github.com/jmblog/color-themes-for-highlightjs */

/* Atelier Forest Light Comment */
.hljs-comment,
.hljs-title {
  color: #766e6b;
}

/* Atelier Forest Light Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #f22c40;
}

/* Atelier Forest Light Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #df5320;
}

/* Atelier Forest Light Yellow */
.hljs-ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #d5911a;
}

/* Atelier Forest Light Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #5ab738;
}

/* Atelier Forest Light Aqua */
.css .hljs-hexcolor {
  color: #00ad9c;
}

/* Atelier Forest Light Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #407ee7;
}

/* Atelier Forest Light Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #6666ea;
}

.hljs {
  display: block;
  background: #f1efee;
  color: #68615e;
  padding: 0.5em;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

pre{border-radius:0;padding:1px}code{color:#6d6d6d;overflow:overlay;padding-bottom:20px !important}a{text-decoration:none;color:#415b75;padding:2px;}a:hover{color:#fff;background-color:#415b75}ul{padding-left:22px}li{list-style-type:square}h2{color:#18bc9c;background-color:#2c3e50;padding:5px 10px}h3{color:#fff;background-color:#18bc9c;padding:1px 30px}body{margin:0;background-color:#fff;font-family:'Open Sans',sans-serif;font-size:18px;line-height:1.5em}.header{background-color:#fff;text-align:center;color:#2c3e50;border-bottom:2px solid #2c3e50;line-height:normal;animation:site-title-animation 5s ease-in-out infinite alternate;-webkit-animation:site-title-animation 5s ease-in-out infinite alternate;}.header .site-links{margin-top:20px;margin-bottom:20px}.header .site-title{font-size:80px;cursor:default;user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}.header span{color:#18bc9c}.header a{margin:0 1px;padding:5px 52px;color:#18bc9c;border-radius:0;}.header a:hover{color:#fff;background-color:#18bc9c}.header a::after{content:"";display:inline-block;background-color:#18bc9c;height:24px;width:2px;position:relative;left:54px;top:5px}.header a:last-child{margin-right:0}.header a:last-child::after{visibility:hidden}@media screen and (max-width:520px){.header .site-title{font-size:60px}.header a{padding-right:20px;padding-left:20px;}.header a::after{left:22px}}.article{margin:0 auto;padding:40px 20px;max-width:700px;}@media screen and (max-width:700px){.article{padding-left:5px;padding-right:5px;font-size:16px}}.article .title{text-transform:uppercase;text-decoration:none;color:#2c3e50;text-align:center;line-height:1.3em;}.article .title:hover{background-color:transparent}.article .title h1{color:#2c3e50;padding:20px 0;text-align:center;font-weight:bold;border:5px solid #2c3e50;line-height:1.3em}.post-exerpt .title{color:#fff}.post-exerpt h2{margin-bottom:12px}.post-exerpt h4{border:1px solid #2c3e50;padding:5px;text-align:right;position:relative;top:-63px}.footer{padding-top:20px;padding-bottom:20px;text-align:center}.contact .email{text-align:center}@-moz-keyframes site-title-animation{0%{border-bottom-color:#2c3e50}100%{border-bottom-color:#18bc9c}}@-webkit-keyframes site-title-animation{0%{border-bottom-color:#2c3e50}100%{border-bottom-color:#18bc9c}}@-o-keyframes site-title-animation{0%{border-bottom-color:#2c3e50}100%{border-bottom-color:#18bc9c}}@keyframes site-title-animation{0%{border-bottom-color:#2c3e50}100%{border-bottom-color:#18bc9c}}